.background {
  background-image: url('./components/shared/media/images/Background.png');
  background-position: center;
  background-size: cover;
  padding-bottom: 50px;
  height: 100vh
}

.hotdog {
  background-image: url('./components/shared/media/images/Background.png');
  background-position: center;
  background-size: cover;
  padding-bottom: 50px;
}

p {
  font-size: 13pt;
}
