.background {
    background-image: url('components/shared/media/images/Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh);
    overflow-y: auto;
}

.background a {
    color: navy;
    opacity: inherit;
}

p {
    font-size: 13pt;
}

.grid {
    justify-content: center;
}

.phoneNumber {
    width: 45px;
    font-size: 12pt;
}

.phoneNumbers {
    width: 60px;
    font-size: 12pt;
}

.bizCard {
    margin: auto;
    display: block;
    opacity: .96;
    width: 700px;
}

@media only screen and (max-width: 740px) {
    .bizCard {
        width: 93%;
    }
}

.serviceHeader {
    margin-left: 10%;
    text-align: left;
}

.leaders img {
    margin: 10px;
}

.watermarkZIndex {
    margin-top: 175px;
}
